.App {
  text-align: center;
  box-sizing: border-box;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.factory {
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: #8a2387; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f27121,
    #e94057,
    #8a2387
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f27121, #e94057, #8a2387);
}

.store {
  background: #40e0d0; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ff0080,
    #ff8c00,
    #40e0d0
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ff0080,
    #ff8c00,
    #40e0d0
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.header-title {
  font-size: 60px;
}

.subheader-title {
  color: rgba(100, 100, 100, 0.8);
  font-size: 30px;
  font-weight: 400;
}

.subheader-line {
  padding-bottom: 0.3em;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  background-color: aliceblue;
  border-radius: 8px;
  padding: 2em;
  opacity: 70%;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.input {
  font-size: 32px;
  font-family: inherit;
  padding: 0.5em;
  background-color: #fff;
  border: 2px solid #8b8a8b;
  border-radius: 4px;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  margin-left: 0.5em;
  font-weight: bold;
}

.fee {
  width: 2.2em;
  color: #8a2387;
}

.title {
  color: #f27121;
}

.input-label {
  font-size: 32px;
  font-weight: bold;
}

.input-field {
  margin: 3em 2em;
  display: inline-block;
}

.button {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  margin: 2em;
  border-radius: 10rem;
  font-weight: bold;
  font-size: 32px;
  color: white;
  border: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.rounded-divider {
  border-radius: 5px;
  height: 4px;
  width: 80%;
  margin: 2em auto;
  background: linear-gradient(to right, #f27121, #e94057, #8a2387);
}

.external-link {
  text-decoration: none;
}